# --------------------------------------------------
# Base de datos (deben coincidir con backend/.env)
# --------------------------------------------------
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=task
DB_USERNAME=postgres
DB_PASSWORD=secret

# --------------------------------------------------
# UID/GID (para evitar problemas de permisos en Docker)
# En Linux/Mac:
#   id -u  -> UID
#   id -g  -> GID
# En Windows puedes dejar estos valores por defecto
# --------------------------------------------------
UID=1000
GID=1000